<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-4.25"/>
    <arg name="y_pos" default="-15.0"/>
    <arg name="z_pos" default="0.0"/>
    <node name="seeker" pkg="prrexamples" type="seeker.py" output="log"/>
    <node name="hider" pkg="prrexamples" type="hider.py" output="log"/>
    <node name="key_publisher" pkg="prrexamples" type="key_publisher.py" output="log"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="use_sim_time" value="true"/>
      <arg name="debug" value="false"/>
      <arg name="world_name" value="$(find rosbook)/course.world"/>
    </include>

</launch>